.header
{
    transition: 0.5s;
    width: 100%;
    background-color: #0a193071;
    backdrop-filter: blur(10px);
    box-shadow: 0 4px 6px -1px rgba(0, 0, 0, 0.1), 0 2px 4px -1px rgba(0, 0, 0, 0.06);
}
.header .logo
{
    font-family: 'SF Mono','Fira Code','Fira Mono','Roboto Mono',monospace;
    color: var(--color-primary);
}
.header ul li 
{
    margin-top: 9px;
}
.header ul li a
{
    color: var(--color-third);
    font-family: 'SF Mono','Fira Code','Fira Mono','Roboto Mono',monospace;
    font-size: 13px;
}
.header ul li a:hover
{
    color: var(--color-primary);
}

.header .resume
{
    background-color: transparent;
    color: var(--color-third);
    padding: 10px 20px;
    border-radius: 5px;
    font-family: 'SF Mono','Fira Code','Fira Mono','Roboto Mono',monospace;
    font-size: 13px;
    transition: 0.5s;
    border: .9px solid var(--color-primary);
    color: var(--color-primary);
    cursor: pointer;
    font-weight: bold;
}
.header .resume:hover
{
  transition: .5s;
  background-color: #64ffda;
  color: #0a1931;

}
.header .indexBinary
{
    color: var(--color-primary);
}
#navbar-mobile
{
  height: 100vh;
}

