@tailwind base;
@tailwind components;
@tailwind utilities;

html
{
  scroll-behavior: smooth;
}
:root {
  --color-primary: #64ffda; /* Example primary color */
  --color-secondary: #0A1930; /* Example secondary color */
  --color-third: #CCD6F5; /* Example third color */
  /* Add more custom color variables as needed */
}
body {
  font-family: 'Roboto', sans-serif;
  background-color: var(--color-secondary);
  color: white;
  margin: 0;
  padding: 0;
  height: 100000px;
}
.numbered_idx
{
  color: #64ffda;
  margin-right: 7px;
}
.line_
{
  background-color: #CCD6F5;/* Change the color as needed */
  width: 388px;
  height: .3px;
  margin-top: 11px;
  margin-left: 11px;

}
/* HTML: <div class="loader"></div> */
/* HTML: <div class="loader"></div> */

/* HTML: <div class="loader"></div> */
 
 
