@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  background-color: #02050A;
  color: aliceblue;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

.cursor
{
  position: fixed;
  width: 39px;
  height: 39px;
  margin-left: -20px;
  margin-top: -20px;
  border-radius: 50%;
  border: 2px solid #55E6A5;
  transition: transform 0.3s ease;
  transform-origin: center center;
  pointer-events: none;
  z-index: 5000;
  display: flex;
  align-items: center;
  justify-content: center;
}


.overlayAnimation
{
  background-color: red;
}