#contentHome
{
    /* background-color: red; */
}
.cardHero
{
    /* border-image: linear-gradient(blue, red) 1; */
    border: 3px solid var(--circle-img-border);
    width:390px;
    height: 629px;
    border-radius: 30px;
    border-top-left-radius: 70px;
    padding: 8px;
    position: relative;
}
.info
{
    position: absolute;
    bottom: 1%;
    left: 2%;
    padding: 2rem;
    background : var(--background-blur);
    width: 96%;
    height: 33%;
    text-align: center;
    border-bottom-left-radius: 30px;
    border-bottom-right-radius: 30px;
    color: #fff;
}
.info button
{
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
    font-size: 1.2rem;
    margin-top: 2rem;
}
.cardHero img
{
    border-radius: 30px;
    border-top-left-radius: 70px;
    height: 100%;
}
.cardContent
{
    /* background-color: var(--primary-color); */
    position: relative;
    height:629px;
    width: 810px;
    border-radius: 30px;
    background: var(--card-background);
}

@media screen and (max-width: 425px)
{
    .cardHero
    {
        width: 260px;
        height: 419px;
    }
    .cardContent
    {
        height:661px;
        width: 400px;
        margin: auto;
    }
}
@media screen and (max-width: 768px)
{
    .cardHero
    {
        width: 260px;
        height: 419px;
    }
    .info 
    {
        /* padding: 1rem; */
        height: 50%;
    }
    .info button
    {
        padding: 10px 20px;
        border-radius: 5px;
        cursor: pointer;
        font-size: 1rem;
        margin-top: 1rem;
    }
    .cardContent
    {
        height:661px;
        width: 400px;
        margin: auto;
    }
    
}